* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  background: black;
  border: 10px solid brown;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
