* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    position: absolute;
    background: black;
    border: 20px solid brown;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}